.logs-page {
  margin-top: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Logs Table */

.logs {
  position: relative;
  overflow-y: auto;
  height: 400px;
  margin: 0 auto;
  max-width: 800px;
  scroll-behavior: smooth;
}

.logs > table {
  width: 100%;
  max-width: 800px;
  table-layout: fixed;
  border-spacing: 0.4rem;
}

.tr-head-log > th{
  padding-block: 1rem;
  background-color: antiquewhite;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.48);
}

.logs-tbody > tr:nth-child(odd) {
  background-color: rgb(224, 199, 223);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.32);
}
.logs-tbody>tr:nth-child(even) {
  background-color: rgb(173, 206, 221);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.32);
}


.date-col-log,
.action-col-log {
  width: 25%;
  text-align: center;
}

.stat-col-log {
  width: 13%;
  text-align: center;
}


.desc-col-log {
  max-width: 40%;
  overflow-x: auto;
}

.tr-body-log > .desc-col-log {
  text-align: left;
  padding: 0.5rem;
  font-weight: bolder;
}

td>button {
  text-align: center;
  margin-inline: 0.1rem;
}


/* button below */
.back-to-home {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-to-home > button {
  font-size: 2rem;
  background-color: rgb(105, 17, 212);
  color: aliceblue;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.48);
}

.btn-to-home:hover {
  animation-name: hoverHome;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.popup-retry,
.popup-delete {
  position: fixed;
  right: 2vw;
  bottom: -4vh;
  background-color: gray;
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  border-radius: 0.25rem;
  color: white;
  opacity: 1;
  transition: bottom 0.3s ease-in-out;
}

.popup-show2 {
  bottom: 2vh !important;
}


@keyframes hoverHome {
  0% {
    background-color: rgb(105, 17, 212);
  }

  50% {
    background-color: rgb(208, 230, 10);
    padding-inline: 5rem;
    border-radius: 2rem;
    transform: translateY(-0.5rem);
  }

  100% {
    background-color: rgb(105, 17, 212);
    padding-inline: 3rem;
  }
}

.btn-retry:hover {
  color: darkgreen;
  background-color: yellow;
  border: 1px  solid darkgreen;
}

.btn-retry {
  position: relative;
}

.btn-retry::before {
  content: attr(data-retry);
  position: absolute;
  left: -30%;
  top: 50%;
  transform: translateY(-50%) translateX(-100%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
}

.btn-retry:hover::before {
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  transition-delay: 1s;
}


.btn-delete:hover {
  background-color: rgb(255, 165, 165);
  color: darkred;
  border: 1px solid darkred;
}

.btn-delete {
  position: relative;
}

.btn-delete::before {
  content: attr(data-delete);
  position: absolute;
  left: -30%;
  top: 50%;
  transform: translateY(-50%) translateX(-100%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
}

.btn-delete:hover::before {
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  transition-delay: 1s;
}



@media (max-width: 600) {

  .date-col-log,
  .action-col-log {
      width: 28%;
      text-align: center;
    }

  
    .desc-col-logs {
      max-width: 31%;
      overflow-wrap: hidden;
    }


}