.App {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
  width: 100%;
  padding-block: 1rem;
}

.profile-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1.5rem;
  margin-left: auto;
}

.btn-signout {
  border: none;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background-color: rgb(255, 165, 165);
  font-size: 1.6rem;
  border-radius: 1rem;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.btn-signout:hover {
  animation-name: logOut;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes logOut {
  0% {
    background-color: rgb(255, 165, 165);
  }

  50% {
    background-color: rgb(210, 58, 7);
    color: white;
    transform: scale(1.05);
  }

  0% {
    background-color: rgb(255, 165, 165);
  }
}


@media (max-width: 600px) {
  .App {
    width: 96vw;
  }
}


